@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&display=swap");
@import "../general/variables.scss";

// breakpoints

$breakpoints: (
  650px,
  750px,
  1024px,
  1150px,
  1280px,
  1375px,
  1500px,
  1600px,
  1750px,
  1900px
);

body {
  font-family: "Barlow", sans-serif;

  h2 {
    display: block;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    margin: $rule 0;
  }
  h3 {
    display: block;
    font-size: 0.8rem;
    text-transform: uppercase;
    margin: $rule/2 0;
    font-weight: 400;
  }
}
